@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global variables to be defined here */
  --color-background-primary: #393e46;
  --color-background-secondary: #222831;
  --color-primary: #00adb5;
  --color-secondary: #eeeeee;
  --color-white: #fff;
  --color-black: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background-primary);
  color: var(--color-primary);
  font-family: "Roboto Flex", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
